<ul class="status_edit">
   <li>
      <a ng-click="status('inprogress')">
         {{ 'directives.stProjectCard.status.inprogress' | translate }}
      </a>
   </li>
   <li>
      <a ng-click="status('done')">
         {{ 'directives.stProjectCard.status.done' | translate }}
      </a>
   </li>
   <li>
      <a ng-click="status('validation')">
         {{ 'directives.stProjectCard.status.validation' | translate }}
      </a>
   </li>
   <li>
      <a ng-click="status('paused')">
         {{ 'directives.stProjectCard.status.paused' | translate }}
      </a>
   </li>
</ul>