<form action="" name="loginForm" class="form-horizontal">
  <div class="alert alert-danger" ng-show="!!loginForm.email.$error.valid">
      L'email n'est pas valide
  </div>
  <div class="alert alert-danger" ng-show="!!loginForm.password.$error.valid">
      Le mot de passe n'est pas valide
  </div>
  <div class="alert alert-danger" ng-show="!!serverBusy">
    <p>
      Nos serveurs sont momentanément indisponibles.
    </p>
    <p>
      Veuillez réessayer dans quelques instants.
    </p>
  </div>

  <h2>
    Please login
  </h2>

  <p>
    &nbsp;
  </p>

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">
      Email
    </label>
    <div class="col-sm-10">
      <input type="email" name="email" ng-model="user.email" class="form-control" required autofocus />
    </div>
  </div>
  
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">
      Password
    </label>
    <div class="col-sm-10">
      <input type="password" name="password" ng-model="user.password" class="form-control" required />
    </div>
  <div>
  
  <p>
    &nbsp;
  </p>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click="(!loginForm.$error || !loginForm.$error.required) && login()" class="btn btn-primary">Connexion</button>
    </div>
  </div>

</form>