<div>
  <h1>{{ 'directives.stLoginForm.title' | translate }}</h1>
  <p class="alert" ng-show="!!loginForm.email.$error.valid">
      {{ 'directives.stLoginForm.emailInvalid' | translate }}
  </p>
  <p class="alert" ng-show="!!loginForm.password.$error.valid">
      {{ 'directives.stLoginForm.passwordInvalid' | translate }}
  </p>
  <p class='alert' ng-show="!!serverBusy">
      {{ 'api.serverBusy' | translate }}
  </p>
  <p class="alert" ng-show="!!youAlreadyHaveAccount">
      {{ 'directives.stLoginForm.youAlreadyHaveAccount' | translate }}
  </p>
  <article id="first_sign_in">
     <form name="loginForm" action ng-submit="(!loginForm.$error || !loginForm.$error.required) && login()" class="fancy">
        <input  type='email' name="email" placeholder="{{ 'directives.stLoginForm.emailLabel' | translate }}"
                ng-model="user.email" class="text col-xs-8 col-xs-offset-2"
                required autofocus />

        <input  type='password' name="password" placeholder="{{ 'directives.stLoginForm.passwordLabel' | translate }}"
                ng-model="user.password" class="text col-xs-8 col-xs-offset-2"
                required />

        <div class="col-xs-4 col-xs-offset-2" ng-click="user.remember = !user.remember">
          <input type='checkbox' name="remenber" ng-checked="user.remember" />
          <label>
            {{ 'directives.stLoginForm.rememberMe' | translate }}
          </label>
        </div>
        <div class="col-xs-4">
           <a ui-sref="public.forgotPassword.request" href>
             {{ 'directives.stLoginForm.forgotLink' | translate }}
           </a>
           <p></p>
           <a href="http://squareteam.uservoice.com/knowledgebase/articles/408195-unable-to-sign-in"
              target="_blank"
              ng-show="retries > 1">
             Having trouble?
           </a>
        </div>
        
        <input  type='submit' name="submitLogin" value="{{ 'directives.stLoginForm.loginBtn' | translate }}"
                class="button col-xs-8 col-xs-offset-2" ng-click="setDirty()"/>
        
        <div class='clear'></div>
     </form>
  </article>

  <article id="second_sign_in">
      <div class="col-xs-6 col-xs-offset-3">
        <st-oauth-link service="github" mode="signin"></st-oauth-link>
      </div>
      <div class='clear'></div>
  </article>
</div>