<form action="" name="createOrganizationForm" class="form-horizontal" ng-submit="create()">
  <div class="alert alert-danger" ng-show="!!createOrganizationForm.name.$error.unique">
      Ce nom d'organization est déjà pris
  </div>
  <div class="alert alert-danger" ng-show="!!serverBusy">
    <p>
      Nos serveurs sont momentanément indisponibles.
    </p>
    <p>
      Veuillez réessayer dans quelques instants.
    </p>
  </div>

  <p>
    &nbsp;
  </p>

  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">
      Name
    </label>
    <div class="col-sm-10">
      <input type="text" name="name" ng-model="organization.name" class="form-control" required autofocus />
    </div>
  </div>
  
  <p>
    &nbsp;
  </p>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary" value="Créer" />
    </div>
  </div>

</form>