<div class="team_manager row">

   <div class="col-xs-6">
      <h3>
         {{ team.name }}
         <button  class="btn btn-default btn-xs destroyTeam"
                  ng-click="destroyTeam()" ng-show="!!canDestroy">
            Delete team
         </button>
      </h3>

      <div class="alert" ng-show="!!errors.loadTeam">
         Unable to load team
      </div>
      <div class="alert" ng-show="!!errors.removeUsers">
         Unable to remove given user(s), try later
      </div>
      <div class="alert" ng-show="!!errors.addUser">
         Unable to add given user
      </div>

      <div class="controls">
         <button class="removeUsers" ng-show="usersToRemove.length" ng-click="removeUsers()">Remove from team</button>
      </div>

      <ul class="users_list">
         <li ng-repeat="user in team.users track by user.id">
            <span class="select  pull-left" ng-click="toggleUserRemoveFromTeam(user)">
               <input type="checkbox" ng-checked="usersToRemove.indexOf(user.id) > 0">
               <label></label>
            </span>
            <!-- <st-user-card user="user" display="name,image" type="inline"></st-user-card> -->
            <span>
               <img src="/images/user.png" width="25" class="img-circle pull-left" alt="" style="margin-right:10px;"> {{ user.name }}
            </span>
            <a href class="edit_role" ng-click="$parent.editUserRole = user">
               Edit permissions
            </a>
         </li>
      </ul>

      <p>
         &nbsp;
      </p>

      <div class="add_user_control">
         <st-user-search on-select="addUserToTeam(user)"></st-user-search>
      </div>
   </div>

   <div class="col-xs-6">
      <div class="permissions_manager" ng-show="editUserRole != false">
         <h3>
            Edit permissions of {{ editUserRole.name }}
            <button  class="btn btn-default btn-xs destroyTeam" ng-click="editUserRole = false">
               Close
            </button>
            <button  class="btn btn-default btn-xs destroyTeam" ng-click="updateUserRole()">
               Save
            </button>
         </h3>

         <p>
            &nbsp;
         </p>

         <div ng-click="roleToAdd = rolesHelpers.has(roleToAdd, rolesHelpers.all()) ? rolesHelpers.remove(roleToAdd, rolesHelpers.all()) : rolesHelpers.add(roleToAdd, rolesHelpers.all())">
            <input type="checkbox" ng-checked="rolesHelpers.has(roleToAdd, rolesHelpers.all())" id="role_ALL">
            <label for="role_ALL">
                {{ 'directives.stTeamManage.selectAll' | translate }}
            </label>
         </div>
         <li ng-repeat="(name, value) in ROLES">
            <div ng-click="$parent.roleToAdd = rolesHelpers.has($parent.roleToAdd, value) ? rolesHelpers.remove($parent.roleToAdd, value) : rolesHelpers.add($parent.roleToAdd, value)">
               <input type="checkbox" ng-checked="rolesHelpers.has($parent.roleToAdd, value)" id="role_{{ name }}">
               <label for="role_{{ name }}">
                   {{ 'directives.stTeamManage.roles.' + name | translate }}
               </label>
            </div>
         </li>
      </div>
   </div>

</div>