<div class="topbar">
   <!-- We'll see how search results are displayed -->
   <st-global-search>
      <div class="search">
         <i class="icon_search"></i>
      </div>
   </st-global-search>

   <menu>
      <ul>
         <li>
            Timeline
         </li>
         <li>
            Mission
         </li>
         <li>
            Projects
         </li>
         <li>
            Knowledge
         </li>
         <li>
            My missions
         </li>
      </ul>
   </menu>

   <st-current-user-block></st-current-user-block>

</div>