
.ngdialog-theme-squareteam {

   .ngdialog-close {
     border-radius: 5px;
     cursor: pointer;
     position: absolute;
     right: 10px;
     top: 5px;
   }

   .ngdialog-overlay {
      background-color: #345263;
      opacity: 0.9;
   }

   .ngdialog-content {
      position: absolute;
      left: 50%;

      width: 555px;
      margin-top: 50px;
      margin-left: -275px;
      padding: 35px 95px;

      border-radius: 2px;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
      background-color: #FFFFFF;

      font-family: "museo-sans";

      header {
         margin-bottom: 20px;

         text-align: center;

         h1 {
            font-weight: 300;
            color: #66808F;
            font-size: 20px;
         }

         p {
            font-weight: 300;
            color: #8fa8b7;
            font-size: 18px;
         }
      }

   }

}