@import 'ui-kit/mixins';
@import 'ui-kit/application/colors';
@import 'ui-kit/application/helpers-classes';

// Projects list style

$projects_image_path: "/images/app/projects_list/";

@mixin icon_bg($file, $left:"center", $top:"center", $bg_color:"transparent") {
   background: url( $projects_image_path + $file ) $left $top no-repeat scroll $bg_color;
}

// TODO(charly): replace with SVG icons
.icon {
   display: inline-block;

   &.icon-display-grid {
      width: 26px;
      height: 27px;
      background: url($projects_image_path + 'display-grid.png') center center no-repeat scroll transparent;
   }

   &.icon-display-list {
      width: 26px;
      height: 27px;
      background: url($projects_image_path + 'display-list.png') center center no-repeat scroll transparent;
   }

   &.icon-arrow-down-active {
      width: 29px;
      height: 33px;
      background: url($projects_image_path + 'arrow-down-active.png') center center no-repeat scroll transparent;
   }

   &.icon-arrow-down-inactive {
      width: 32px;
      height: 33px;
      background: url($projects_image_path + 'arrow-down-inactive.png') center center no-repeat scroll transparent;
   }

   &.icon-settings {
      width: 24px;
      height: 21px;
      background: url($projects_image_path + 'edit.jpg') center center no-repeat scroll transparent;
      cursor: pointer;
      // FIXME(charly): change opacity instead
      &:hover {
         background: url($projects_image_path + 'edit_hover.jpg') center center no-repeat scroll transparent;
      }
   }

   &.icon-status-inprogress {
      width: 15px;
      height: 15px;
      background: url($projects_image_path + 'status_inprogress.jpg') center center no-repeat scroll transparent;
   }

   &.icon-status-due {
      width: 17px;
      height: 17px;
      background: url($projects_image_path + 'status_due.jpg') center center no-repeat scroll transparent;
   }

   &.icon-status-done {
      width: 36px;
      height: 36px;
      background: url($projects_image_path + 'status_done.jpg') center center no-repeat scroll transparent;
   }

   &.icon-metadata-documents {
      width: 20px;
      height: 20px;
      background: url($projects_image_path + 'metadata_documents.jpg') center -1px no-repeat scroll transparent;
   }

   &.icon-metadata-comments {
      width: 18px;
      height: 18px;
      background: url($projects_image_path + 'metadata_comments.jpg') center 1px no-repeat scroll transparent;
   }

   &.icon-metadata-missions {
      width: 18px;
      height: 18px;
      background: url($projects_image_path + 'metadata_tasks.jpg') center -1px no-repeat scroll transparent;
   }

   &.icon-metadata-members {
      width: 24px;
      height: 24px;
      background: url($projects_image_path + 'metadata_members.jpg') center center no-repeat scroll transparent;
   }

   &.icon-upload {
      width: 50px;
      height: 33px;
      background: url($projects_image_path + 'upload.png') center center no-repeat scroll transparent;
   }

}
// ORGANIZATIONS_PROJECTS STYLE

.organizations_projects {

   header {
      height: 80px;
      background-color: $dark_blue;

      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;

      .organization {
         height: 80px;
         padding-right: 0;

         // To fit with project cards width (not bootstrap grid based)
         width: 18.4%;

         .name {
            color: #FFF;
         }

         .projects_count {
            color: #b7ccd8;
         }

         .icon {
            vertical-align: middle;
            margin-bottom: 5px;
         }

         .change {
            cursor: pointer;
            height: 80px;
            width: 80px;
            text-align: center;

            &.dropdown-open {
               background-color: $darken_blue;
               .icon {
                  transform: rotate(180deg);
               }
            }
         }

      }

      .filters {
         text-align: center;

         padding-left:0;

         .dropdown-open {
            background-color:$darken_blue;

            .icon {
               transform: rotate(180deg) translateY(-3px);
            }
         }

         .active {
            color:#FFF;

            .icon {
               width: 29px;
               height: 33px;
               background: url($projects_image_path + 'arrow-down-active.png') center center no-repeat scroll transparent;
            }
         }

         .by_status, .by_team, .sort {
            margin-left: -3px;
            height: 80px;
            line-height: 80px;
            display: inline-block;
            width: 134px;
         }

         .sort {
            &.active {
               span {
                  margin-right: -10px;
               }
               padding-left: 5px;
            }
            &.icon-sort-desc {
               // sort_active_sprite
               background: url($projects_image_path + '/sort-active-sprite.png') 4px -52px no-repeat scroll #2c4858;
            }

            &.icon-sort-asc {
               // sort_active_sprite
               background: url($projects_image_path + '/sort-active-sprite.png') 4px 8px no-repeat scroll #2c4858;
            }
         }

         color:$shy_blue;

         .icon {
            margin-bottom: 5px;
            vertical-align: middle;
            cursor: pointer;
            float: right;
            padding-top: 57%;
            margin-right: 10px;
         }
      }

      .add_project {
         text-align: right;
         padding-right: 0;

         button {
            width: 180px;
            padding: 15px 20px;
            color: #FFFFFF;
            border: none;
            border-radius: 2px;

            padding-left: 50px;
            background: url($projects_image_path + "add.png") 12% 48% no-repeat scroll #57c0df;
         }
      }
   }

   .projects {
      padding-top: 50px;
      color:$default_text_color;

      .clear-filters {
         cursor: pointer;
         color: #FFFFFF;
         text-align: center;
         background-color: #678496;
         padding: 5px;
         border-radius: 2px;
         font-size: 11px;
         width: 89px;
         margin-left: -15px;
         margin-bottom: 10px;

         transition: background-color 150ms ease-in;

         &:hover {
            background-color: $dark_blue;
         }
      }

      .project_card:nth-child(3n+1) {
         margin-left:0;
      }

      .project_card:nth-child(3n) {
         margin-right:0;
      }

      .project_card {
         margin-right:12px;
         margin-left:12px;
         margin-bottom: 50px;

         width: 350px;
         border-radius:2px;
         
         display: inline-block;
         vertical-align: top;

         box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
         background-color:#FFFFFF;

         .icon-settings {
            margin-top: -2px;
         }


         .top {
            border-bottom: 1px solid #F8F8F8;

            padding: 25px 10px 20px 10px;
            margin:0 0 20px 0;

            h3 {
               font-weight: 500;
               font-size: 16px;
               margin: 0 0 5px 0;
            }

            .created_at {
               font-weight: 300;
            }
         }
         
         .upload_thumbnail {
            border:dashed 2px $shy_blue;
            color:$shy_blue;
            background-color:#F8F8F8;
            padding:20px 10px;
            border-radius:3px;

            text-align: center;

            .icon-upload {
               display: inline-block;
            }
         }

         .project_thumbnail, .upload_thumbnail {
            margin: 10px 25px 25px 25px;
         }

         .project_thumbnail {
            max-height: 130px;
            overflow: hidden;
         }

         .description {
            margin: 0 25px;
            line-height: 21px;
            font-weight: 300;
            max-height: 85px;
            overflow: hidden;
         }

         .status {
            margin: 20px 25px;

            .icon {
               vertical-align: middle;
            }

            &>div:first-child {
               padding-left: 0;
            }

            time {
               font-size: 12px;
               color: $shy_blue;
               font-weight: 300;
            }

            &>div:last-child {
               text-align: right;
               padding-right: 0;
            }

            button {
               border-radius: 2px;
               color: #FFFFFF;
               font-weight: 300;
               border:none;
               padding: 0;
               height: 25px;
               cursor: default;

               span {
                  padding: 2px 12px;
               }

               &.editable {
                  cursor: pointer;
                  span {
                     padding: 2px 7px 2px 12px;
                  }
               }

               .icon-arrow-down-small {
                  display: inline-block;
                  width: 23px;
                  height: 25px;
                  background: url($projects_image_path + "status_edit_arrow.png") center 2px no-repeat scroll transparent;
               }

               &.inprogress {
                  background-color: #57c0df;

                  .icon-arrow-down-small {
                     background-color: darken(#57c0df, 20%);
                  }
               }

               &.due {
                  background-color: #ff6e83;

                  .icon-arrow-down-small {
                     background-color: darken(#ff6e83, 20%);
                  }
               }

               &.paused {
                  background-color: $shy_blue;

                  .icon-arrow-down-small {
                     background-color: darken($shy_blue, 20%);
                  }
               }

               &.validation {
                  background-color: #cf83c0;

                  .icon-arrow-down-small {
                     background-color: darken(#cf83c0, 20%);
                  }
               }

               &.done {
                  background-color: #73c26d;

                  .icon-arrow-down-small {
                     background-color: darken(#73c26d, 20%);
                  }
               }
            }

            .progress_bg {
               position: relative;
               width: 100%;
               background-color: #F3F3F3;
               height: 4px;
               border-radius:4px;

               .progress {
                  background-color:#57c0df;
                  height: 4px;
                  // width: 50%;
               }

               .cursor {
                  position: absolute;
                  height: 12px;
                  width: 12px;
                  background-color: transparent;
                  left: 46%;
                  top: -4px;
                  border-radius: 12px;
                  border: 1px solid #57c0df;

                  .inner {
                     background-color: #57c0df;
                     border: 2px solid transparent;
                     height: 6px;
                     width: 6px;
                     top: 50.9%;
                     border-radius: 12px;
                     position: absolute;
                     margin-top: -3px;
                     left: 50.2%;
                     margin-left: -3px;
                  }
               }
            }
         }

         .metadata {
            margin: 25px 0 25px 0;
            padding:10px 10px;
            background-color: #F8F8F8;
            font-weight: 300;
            font-size: 12px;

            .row:last-child {
               text-align: right;
            }

            .col-xs-3 {
               padding: 0 23.9px;
            }

            .icon {
               vertical-align: middle;
            }
         }

         .view_project {
            margin:0 25px 15px 25px;

            &:hover {
               div {
                  background-color:#57c0df;
               }
            }

            div {
               transition: all ease-in 150ms;
               margin-top: 20px;
               margin-bottom: 20px;
               background-color:$dark_blue;
               border-radius:2px;
               a{
                  @include font(Avenir, normal, 16px, #fff, 20px);
                  display: block;
                  text-align: center;
                  padding: 22px !important;

                  span{
                     font-size: 20px;
                  }
                  &:hover{
                     text-decoration: none;
                  }
               }
            }
         }

      }

   }

}

.project_edit_menu {
   display: none;

   position: absolute;
   opacity:0.98;
   background-color: $dark_blue;
   list-style: none;
   padding: 0;
   margin: 0;
   border-radius:4px;

   // Top arrow
   &:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(62, 92, 109, 0);
      border-bottom-color: $dark_blue;
      border-width: 5px;
      margin-left: -5px;
   }

   a {
      font-size: 14px;
      display: block;
      padding: 0 90px 0 49px;
      &, &:link, &:hover, &:active, &:visited {
         color: $shy_blue;
         text-decoration: none;
      }
   }

   li {
      &:first-child {
         border-radius:4px 4px 0 0;
      }
      &:last-child {
         border-radius:0 0 4px 4px;
      }

      padding: 15px 0;

      &.quick_edit {
         background: url($projects_image_path + "project_edit_quick.png") 10% 45% no-repeat scroll transparent;
      }
      &.edit {
         background: url($projects_image_path + "project_edit_edit.png") 10% 45% no-repeat scroll transparent;
      }
      &.archive {
         background: url($projects_image_path + "project_edit_archive.png") 10% 17% no-repeat scroll transparent;
      }
      &.delete {
         background: url($projects_image_path + "project_edit_delete.png") 10% 28% no-repeat scroll transparent;
      }

      &:hover {

         a {
            &, &:link, &:hover, &:active, &:visited {
               color: #b7ccd8;
            }
         }

         // TODO(charly): use opacity...

         &.quick_edit {
            background: url($projects_image_path + "project_edit_quick_hover.png") 10% 45% no-repeat scroll #678496;
         }
         &.edit {
            background: url($projects_image_path + "project_edit_edit_hover.png") 10% 45% no-repeat scroll #678496;
         }
         &.archive {
            background: url($projects_image_path + "project_edit_archive_hover.png") 10% 17% no-repeat scroll #678496;
         }
         &.delete {
            background: url($projects_image_path + "project_edit_delete_hover.png") 10% 28% no-repeat scroll #678496;
         }
      }
   }
}

.status_edit {
   display: none;

   position: absolute;
   background-color: $dark_blue;
   list-style: none;
   padding: 10px 30px 10px 10px;
   margin: 0;
   border-radius:0 0 4px 4px;

   li {
      padding: 2px 0;
      font-size: 14px;

      a {
         display: block;
         font-weight: 300;

         &, &:link, &:hover, &:active, &:visited {
            color: $shy_blue;
            text-decoration: none;
         }
      }
   }
}

.organization_dropdown {
   display: none;

   position: absolute;
   background-color: $darken_blue;
   width: 354px;
   list-style: none;
   margin:0;
   padding: 0;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;

   li {
      padding:15px 15px 15px 0;
      margin:0;
      cursor: pointer;
      transition: all 0.2s ease-in;

      &:hover {
         background-color:#2c4858;
         .name {
            color: #FFF;
         }
      }
   }

   .name {
      color: #8fa8b7;
   }

   .projects_count {
      color: #b7ccd8;
   }
}

.filters_dropdown {
   display: none;

   color:$shy_blue;

   position: absolute;
   background-color: $darken_blue;
   width: 134px;
   list-style: none;
   margin:0;
   padding: 0;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;

   li {
      padding:25px;
      margin:0;
      cursor: pointer;

      transition: all 0.2s ease-in;

      &:hover {
         color: #FFF;
      }
   }
}

.sort_filters {

   li {
      overflow: hidden;
      padding-left:55px;
      padding-right:40px;
   }

   li:hover {

      &.icon-sort-desc {
         // sort_active_sprite
         background: url($projects_image_path + '/sort-active-sprite.png') 20px -58px no-repeat scroll #2c4858;
      }

      &.icon-sort-asc {
         // sort_active_sprite
         background: url($projects_image_path + '/sort-active-sprite.png') 20px 3px no-repeat scroll #2c4858;
      }
   }

   .icon-sort-desc {
      // sort_active_sprite
      background: url($projects_image_path + '/sort-inactive-sprite.png') 20px -58px no-repeat scroll transparent;
   }

   .icon-sort-asc {
      // sort_active_sprite
      background: url($projects_image_path + '/sort-inactive-sprite.png') 20px 3px no-repeat scroll transparent;
   }
}