<section class="container container-fluid">
   <div class="row">
      <div id="box_center" class="col-sm-10 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
         <div class='box_shadow'>
            
            <h1>
              {{ 'public.forgotPassword.change.title' | translate }}
            </h1>
            <p class='alert' ng-show="!!serverBusy">
               {{ 'api.serverBusy' | translate }}
            </p>
            <p class='alert' ng-show="!!tokenInvalid">
               {{ 'public.forgotPassword.tokenInvalid' | translate }} <br>
               <a href ui-sref="public.forgotPassword.request">
                  {{ 'public.forgotPassword.tokenInvalidClickHere' | translate }}
               </a>
            </p>
            <article id="first_sign_in">
               <form action ng-submit="change()" name="changePasswordForm" class="fancy">
                  <input  type='password' name="password" ng-model="user.password" required
                          ng-change="passwordFormat()"
                          placeholder="{{ 'directives.stUserCreate.passwordLabel' | translate }}"
                          class="text col-xs-8 col-xs-offset-2" />
                  <br/>
                  <div  ng-show="changePasswordForm.password.$dirty && (passwordBadPractice)"
                        class="notice_text col-xs-8 col-xs-offset-2">
                    {{ 'directives.stUserCreate.passwordFormatHelp' | translate }}
                  </div>

                  <input  ng-model="user.passwordConfirm" type="password" data-match="user.password"
                          name="confirmPassword" required
                          placeholder="{{ 'directives.stUserCreate.passwordConfirmLabel' | translate }}"
                          class="text col-xs-8 col-xs-offset-2" />
                  
                  <div  ng-show="changePasswordForm.confirmPassword.$dirty && (changePasswordForm.confirmPassword.$error.match || changePasswordForm.confirmPassword.$error.required)"
                        class="error_text col-xs-8 col-xs-offset-2">
                    {{ 'directives.stUserCreate.passwordNotMatch' | translate }}
                  </div>

                  <input  type='submit' name="changePassword"
                          value="{{ 'public.forgotPassword.change.submitBtn' | translate }}"
                          class="button col-xs-8 col-xs-offset-2"/>
                  
                  <div class='clear'></div>
               </form>
            </article>

         </div>
      </div>
   </div>
</section>