<section class="container container-fluid">
   <div class="row">
      <div id="box_center" class="col-sm-10 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
         <div class='box_shadow'>
            
            <h1>
               {{ 'public.forgotPassword.updated.title' | translate }}
            </h1>
            <article id="first_sign_in">
               <form action class="fancy">
                  <p>
                     {{ 'public.forgotPassword.updated.content_1' | translate }}
                     <br>
                     {{ 'public.forgotPassword.updated.content_2' | translate }}
                  </p>
               </form>
            </article>

         </div>
      </div>
   </div>
</section>
<section class="container container-fluid">
   <div class="row">
      <div id="box_center_bottom" class="button_gradient col-sm-10 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
         
         <div>
            <a href ui-sref="public.login">
               {{ 'public.forgotPassword.request.returnToSignIn' | translate }}
            </a>
         </div>
      
      </div>
   </div>
</section>