<section class="container container-fluid">
   <div class="row">
      <div id="box_center" class="col-sm-10 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
         <div class='box_shadow'>

            <h1>
               {{ 'public.forgotPassword.request.title' | translate }}
            </h1>
            <p class='alert' ng-show="!!serverBusy">
               {{ 'api.serverBusy' | translate }}
            </p>
            <p class='alert' ng-show="!!emailInvalid">
               {{ 'public.forgotPassword.emailInvalid' | translate }} <br>
            </p>
            <p class='alert' ng-show="!!oAuthAccountFound">
               <a ng-href="{{ oAuthLoginLink }}">
                  {{ 'public.forgotPassword.oAuthAccountFound' | translate }} {{ oAuthAccountFound }}
               </a>
            </p>
            <article id="first_sign_in">
               <form action ng-submit="request()" name="requestForm" class="fancy">
                  <p>
                     {{ 'public.forgotPassword.request.notice' | translate }}
                  </p>

                  <input   type='email' name="email" ng-model="user.email"
                           placeholder="{{ 'directives.stUserCreate.emailLabel' | translate }}"
                           required
                           class="text col-xs-8 col-xs-offset-2" />

                  <input   type='submit' name="submitForgotPwd"
                           value="{{ 'public.forgotPassword.request.send' | translate }}"
                           class="button col-xs-8 col-xs-offset-2" />

                  <div class='clear'></div>
               </form>
            </article>

         </div>
      </div>
   </div>
</section>
<section class="container container-fluid">
   <div class="row">
      <div id="box_center_bottom" class="button_gradient col-sm-10 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

         <div>
            <a href ui-sref="public.login">
               {{ 'public.forgotPassword.request.returnToSignIn' | translate }}
            </a>
         </div>

      </div>
   </div>
</section>