<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Project 1</h4>
    <p class="list-group-item-text">
       14 Missions actives <br>
       15 Members
    </p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Project 2</h4>
    <p class="list-group-item-text">
       1 Missions actives <br>
       3 Members
    </p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Project 3</h4>
    <p class="list-group-item-text">
       2 Missions actives <br>
       1 Members
    </p>
  </a>
</div>