<h2>
   {{ organization.name }}
</h2>

<br>

<h4>
   Members
</h4>

<ul>
   <li ng-repeat='member in organization.users' style="list-style:none;line-height:25px;">
      <img src="/images/user.png" width="25" class="img-circle pull-left" alt="" style="margin-right:10px;"> {{ member.name }}
   </li>
   <li ng-show="organization.users.length === 0">
      No members, <a href class="btn btn-default btn-xs">add one ?</a>
   </li>
</ul>

<hr>

<h4>
   Teams
</h4>

<ul>
   <li ng-repeat="team in teams">
      {{ team.name }}
      <a    class="btn btn-default btn-xs"
            ui-sref="app.organization.team({ teamId : team.id })"  ng-show="team.$can('manage')">
         manage
      </a>
   </li>
</ul>
<p>
   <input type="text" ng-model="newTeamName">
   <a ng-click="!!newTeamName && createTeam(newTeamName)" class="btn btn-default btn-xs">
      create
   </a>
</p>