<div class="container manage">
   <div class="row">
      
      <div class="col-xs-6 teams nice-block col-xs-push-3" ng-class="{ 'go-left' : !!team }">
         <div class="row">
            <div class="header col-xs-10 col-xs-push-1">
               <h2>
                  {{ organization.name }}
               </h2>
               <p ng-show="teams.length == 1">
                  {{ teams.length }} {{ 'app.manage.organization.subtitle_singular' | translate }}
               </p>
               <p ng-show="teams.length > 1">
                  {{ teams.length }} {{ 'app.manage.organization.subtitle_plural' | translate }}
               </p>
            </div>
         </div>

         <ul class="teams-list">
            <li class="row team-item" ng-repeat="team in teams track by team.id">
               <div class="col-xs-1 vertical-center">
                  <div class="color" style="background-color:{{ team.color }};"></div>
               </div>
               <div class="col-xs-4 vertical-center">
                  <div class="name">
                     {{ team.name | characters:21:true }}
                  </div>
                  <div class="count" ng-if="team.users.length <= 1">
                     {{ team.users.length }} {{ 'app.manage.organization.team_list_user_singular' | translate }}
                  </div>
                  <div class="count" ng-if="team.users.length > 1">
                     {{ team.users.length }} {{ 'app.manage.organization.team_list_user_plural' | translate }}
                  </div>
               </div>
               <div class="col-xs-3 users vertical-center" ng-class="{ 'no-padding' : team.$can('manage') }">
                  <img  ng-repeat="user in team.users | limitTo:2"
                        src="http://placekitten.com/g/24/24" alt="" title="{{ user.name }}">
                  <div class="more" ng-show="team.users.length > 2">
                     +{{ team.users.length - 2 }}
                  </div>
               </div>
               <div class="col-xs-3 vertical-center action" ng-show="team.$can('manage')">
                  <div  class="manage-button"
                        ng-click="team.$can('manage') && manageTeam(team)">
                     <div class="mask">
                        <div class="text">
                           {{ 'app.manage.organization.manage' | translate }}
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="row" ng-if="!teams.length">
               <div class="col-xs-12 no-results">
                  {{ 'app.manage.organization.no_team' | translate }}
               </div>
            </li>
         </ul>

         <div class="text-center">
            <button class="submit minimal" ng-click="openPopin('create')">
               {{ 'app.manage.organization.create_team' | translate }}
            </button>
         </div>
      </div>

      <div class="col-xs-6 nice-block team" ng-class="{'enter-from-right' : !!team}">

      <div class="row">
         <div class="header col-xs-10 col-xs-push-1">
            <h2>
               {{ team.name }}
            </h2>
            <p ng-if="team.users.length <= 1">
               {{ team.users.length }} {{ 'app.manage.organization.team_list_user_singular' | translate }}
            </p>
            <p ng-if="team.users.length > 1">
               {{ team.users.length }} {{ 'app.manage.organization.team_list_user_plural' | translate }}
            </p>
         </div>
      </div>

      <ul class="team-users-list">
         <li class="team-user-item  container-fluid" ng-repeat="user in team.users">
            <div class="row">
               <div class="col-xs-2">
                  <img src="http://placekitten.com/g/45/45" alt="">
               </div>
               <div class="col-xs-6 name">
                  {{ user.name | characters:21:true }}
               </div>
               <div class="col-xs-3 vertical-center actions">
                  <div ng-click="$parent.editingUsers.push(user.id)" ng-hide="$parent.isEditing(user)">
                     <i class="edit"></i>
                     {{ 'app.manage.team.edit' | translate }}
                  </div>
                  <div ng-click="updateUser(user)" ng-show="$parent.isEditing(user)">
                     <i class="edit"></i>
                     {{ 'app.manage.team.save' | translate }}
                  </div>
                  <div ng-click="removeUser(user)">
                     <i class="remove"></i>
                     {{ 'app.manage.team.remove' | translate }}
                  </div>
               </div>
            </div>
            <div class="row" ng-show="$parent.isEditing(user)">
               <st-user-acl-edit class="col-xs-12"
                  user="user">
               </st-user-acl-edit>
            </div>
         </li>
         <li class="row" ng-if="!teams.length">
            <div class="col-xs-12 no-results">
               {{ 'app.manage.team.no_users' | translate }}
            </div>
         </li>
      </ul>

      <footer class="text-center row">
         <button class="submit minimal col-xs-4 col-xs-push-1" ng-click="openPopin('add_workers')">
            {{ 'app.manage.team.add_member' | translate }}
         </button>
         <button class="submit minimal secondary col-xs-4" ng-click="openPopin('update')">
            {{ 'app.manage.team.edit_team' | translate }}
         </button>
      </footer>

      </div>
   </div>
</div>