@import 'mixins';

@mixin button_gradient() {
   div{
      margin-top: 20px;
      margin-bottom: 20px;
      @include bg_gradient(90deg, #54bede, #8ad7ef);
      a{
         @include font(Avenir, normal, 16px, #fff, 20px);
         display: block;
         padding: 28px;
         text-align: center;
         span{
            font-size: 20px;
         }
         &:hover{
            text-decoration: none;
         }
      }
   }
}

.button_gradient {
   @include button_gradient()
}