form.fancy [type="checkbox"], [type="checkbox"].fancy{
   &:not(:checked), &:checked{
      position: absolute;  
      left: -9999px;  
      + label{
         position: relative;
         padding-left: 25px;
         cursor: pointer;
         &:before{
            content: '';
            position: absolute;
            left: 0;
            top: -2px;
            width: 15px;
            height: 15px;
            border: 1px dashed #aaa;
            border-radius: 10px;
         }
         &:after{
            content: '.';
            position: absolute;
            top: -20px;
            left: -2px;
            font-size: 70px;
            color: #80d5f0;
            -webkit-transition: all .2s;
            transition: all .2s;
            line-height: 15px;
         }
      }
      &:focus{
         + label{
            &:after{
               border: none;
            }
         }
      }
   }
   &:not(:checked){
      + label{
         &:after{
            opacity: 0; 
         }
      }
   }
   &:checked{
      + label{
         &:after{
            opacity: 1; 
         }
      }
   }
   &:disabled{
      + label{
         color: #aaa;
      }
      &::not(:checked), &:checked{
         + label{
            &:before{
               border-color: #bbb;  
            }
         }
      }
      &:checked{
         + label{
            &:after{
               color: #999; 
            }
         }
      }
   }
}