<div class="container my-account manage">
   <div class="row">
      
      <div class="col-xs-6 account nice-block col-xs-push-3">
         <div class="col-xs-8 col-xs-push-2">
            <div class="header">
               <h2>
                  {{ 'app.manage.account.title' | translate }}
               </h2>
               <p>
                  {{ 'app.manage.account.subtitle' | translate }}
               </p>
            </div>

            <div class="avatar">
               <img src="http://placekitten.com/g/85/85" alt="" width="85px">

               <a href="#">
                  {{ 'app.manage.account.change_avatar' | translate }}
               </a>
            </div>

            <form action="" class="minimal" name="userForm" ng-submit="updateUser()">

               <div class="alert alert-danger" ng-show="!!userForm.email.$error.unique">
                   {{ 'directives.stUserCreate.emailTaken' | translate }}
               </div>

               <label for="pseudo">
                  {{ 'app.manage.account.name' | translate }}
               </label>
               <input type="text" type="text" name="pseudo" class="fluid" ng-model="user.name" required>

               <label for="password" ng-hide="isOAuthAccount">
                  {{ 'app.manage.account.password' | translate }}
               </label>

               <input   type="password" type="text" name="password" class="fluid"
                        ng-model="user.password" ng-change="passwordFormat()" ng-hide="isOAuthAccount">

               <div  ng-show="userForm.password.$dirty && (passwordBadPractice)" class="notice_text">
                 {{ 'directives.stUserCreate.passwordFormatHelp' | translate }}
               </div>

               <label for="email">
                  {{ 'app.manage.account.email' | translate }}
               </label>
               <input type="email" type="text" name="email" class="fluid" ng-model="user.email" required>

               <div class="submit-footer">
                  <input   type="submit"
                           value="{{ 'app.manage.account.save' | translate }}">
               </div>

            </form>

         </div>
      </div>

   </div>
</div>