<ul class="nav nav-pills" ng-cloak>
  <li ui-sref-active="active"><a ui-sref="app.home">{{ 'header.menu.home' | translate }}</a></li>
  <li ui-sref-active="active"><a ui-sref="app.my_missions">{{ 'header.menu.myMissions' | translate }}</a></li>
  <li ui-sref-active="active"><a ui-sref="app.projects">{{ 'header.menu.projects' | translate }}</a></li>
  <li ui-sref-active="active"><a ui-sref="app.knowledge">{{ 'header.menu.knowledgeCenter' | translate }}</a></li>
</ul>

<br>
<br>

<ui-view></ui-view>