<div class="container-fluid">
   <div class="row">
      <div class="col-xs-12">
         <h3>
            Please confirm your password
         </h3>
         <form action="" name="confirmPasswordForm" class="minimal" ng-submit="confirm()">
            <input type="password" name="password" ng-model="$parent.password" required  style="width:100%">

            <div class="text-center">
               <input type="submit" value="Valider">
            </div>
         </form>
      </div>
   </div>
</div>