<div>
   <header>
      <h1>
         {{ 'popin.passwordConfirm.title' | translate }}
      </h1>
      <p>
         {{ 'popin.passwordConfirm.subtitle' | translate }}
      </p>
   </header>

   <form action="" name="confirmPasswordForm" class="minimal" ng-submit="confirm()">
      <input type="password" name="password" ng-model="$parent.password" required  style="width:100%">

      <div class="text-center">
         <input type="submit" value="{{ 'popin.passwordConfirm.continue' | translate }}">
      </div>
   </form>
</div>