<div class="container spacing-container">
   <div class="row">
      <div class="nice-block col-xs-6 col-xs-push-3">
         <div class="col-xs-8 col-xs-push-2">
            <div class="header">
               <h2>
                  {{ 'registerOrganization.title' | translate }}
               </h2>
               <!-- Flash messages ? -->
               <p>
                  <em>{{ 'registerOrganization.info' | translate }}</em>
               </p>
            </div>
            <p>
               &nbsp;
            </p>
            <st-organization-create for-users="[currentSession.getUser().id]" redirect-to="/home" class="minimal"></st-organization-create>
         </div>
      </div>
   </div>
</div>