<section class="container container-fluid">
   <div class="row" >
      <div id="box_center" class="col-sm-10 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" >
         <div class='box_shadow'>
            
            <h1>One step closer</h1>
            
            <st-user-create redirect-to="/home/welcome"></st-user-create>

         </div>
      </div>
   </div>
</section>
<section class="container container-fluid">
   <div class="row">
      <div id="box_center_bottom" class="button_gradient col-sm-10 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
         
         <div>
            <a ui-sref="public.login" href>
               {{ 'public.register.alreadyHaveAnAccount_1' | translate }}
               <br/>
               <span>
                  {{ 'public.register.alreadyHaveAnAccount_2' | translate }}
               </span>
            </a>
         </div>
      
      </div>
   </div>
</section>